.offer-details {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: auto;
  }
  
  .offer-details div {
    margin-bottom: 10px;
  }
  
  .pdf-upload {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pdf-upload:hover {
    background-color: #f1f1f1;
  }
  
  .upload-label {
    display: block;
    cursor: pointer;
  }
  
  .uploaded-file {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .uploaded-file button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .uploaded-file button:hover {
    background-color: #c0392b;
  }

  .document-list {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 20px auto;
  }
  
  .document-list h3 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .document-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .document-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
  
  .document-item:last-child {
    border-bottom: none;
  }
  
  .document-name {
    flex: 1;
    margin-right: 20px;
  }
  
  .document-latest {
    color: green;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .document-download {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .document-download:hover {
    background-color: #2980b9;
  }

  .create-chat-button {
    margin-bottom: 20px; /* Odstęp od sekcji Accept Offer */
  }
  
  .create-chat-button button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .create-chat-button button:hover {
    background-color: #0056b3;
  }
  
  