<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Carousel</a>
      
        <ul class="navbar-nav mr-auto"> 
            <ng-container *ngIf="(accountService.currentUser$ | async) as user">
                <li class="nav-item">
                    <a class="nav-link" routerLink='' routerLinkActive="active">View Properties</a>
                </li>
                <li class="nav-item dropdown" dropdown>
                    <a class="nav-link dropdown-toggle" dropdownToggle routerLinkActive="active">Your Properties</a>
                    <div class="dropdown-menu" *dropdownMenu>
                      <a routerLink='member/edit' class="dropdown-item">Followed properties</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" (click)="logout()">My properties</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" routerLink='properties/rented' routerLinkActive="active">Rented Properties</a>
                    </div>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/chat-list' routerLinkActive="active">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/offers' routerLinkActive="active">Offers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/my-offers' routerLinkActive="active">My offers</a>
                </li>
            </ng-container>
        </ul>

        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <img src="" alt="{{user.username}}">
            <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome {{user.username | titlecase}}</a>
            <div class="dropdown-menu mt-3" *bsDropdownMenu="">
                <a routerLink='member/edit' class="dropdown-item">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>

        <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0 d-flex flex-row" (ngSubmit)="login()" autocomplete="off">
            <input 
                name="username"
                [(ngModel)]="model.username" 
                class="form-control me-2" 
                type="text" 
                placeholder="Username" 
                style="margin-right: 1ch">
            <input 
                name="password"
                [(ngModel)]="model.password"
                class="form-control me-2" 
                type="password" 
                placeholder="Password" 
                style="margin-right: 1ch">
            <button class="btn btn-success me-2" type="submit">Login</button>
            <button class="btn btn-success" (click)="register()">Register</button>
        </form>
    </div>
  </nav>
